extends layout

include mixins

block content
  .container.content
    .page-header
      h3 Admin

    .table-responsive
      table.table
        thead
          tr
            th Name
            th Admin
        tbody
          each user in users
            tr
              td= user.name()
              td= user.admin
