extends layout

block head
  if contest.id === 'test'
    script(src='/js/contest-test.js', defer)
  else if contest.id === 'dragon-ball'
    script(src='/js/contest-dragon-ball.js', defer)
  else if contest.id === 'mayfes2018-day1'
    script(src='/js/contests/mayfes2018-day1/index.js', defer)
  else if contest.id === 'mayfes2018-day2'
    script(src='/js/contest-mayfes2018-day2.js', defer)
  else if contest.id === 'rotating-drops'
    script(src='/js/contest-rotating-drops.js', defer)
      
  style.
    body {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }
    #app {
      flex: 1 1 0;
    }
      
  meta(name='data', content=JSON.stringify(data))

block content
  #app
