extends layout

block head
  if contest.isStarted() || (user && user.admin)
    style

block content
  if !contest.isStarted() && (!user || !user.admin)
    .container
      .content
        include partials/countdown.pug
  else
    .container.content
      != description.ja
      h1 Submit Code
      form#checker(data-persist='garlic', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label Language
          select.form-control.checker-language(name='language')
            option(value='node') Node.js
            option(value='c-gcc') C
            option(value='python3') Python3
        .form-group
          label Code
          p.text-secondary
            span.checker-count 0
            = ' '
            | bytes
          textarea.form-control.code.checker-code(name='code')
        .form-group
          input.form-contril-file.checker-file(type='file')
        button.btn.btn-primary.checker-submit(type='submit') Submit
