extends layout

block head
  if contest.isStarted() || (user && user.admin)
    style

block content
  if !contest.isStarted() && (!user || !user.admin)
    .container
      .content
        include partials/countdown.pug
  else
    .container.content
      != description.ja
      h1 Submit Code
      form#checker(data-persist='garlic', method='POST', action=`/contests/${contest.id}/submissions`)
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label Language
          select.form-control.checker-language(name='language')
            option(value='cpp-clang') C++
            option(value='python3') Python3
            option(value='ruby') Ruby
        .form-group
          label Code
          p.text-secondary
            span.checker-count 0
            = ' '
            | bytes
          textarea.form-control.code.checker-code(name='code')
        if contest.type === 'battle'
          .form-group
            label Compete with
            select.form-control.checker-language(name='competitor')
              each preset in presets
                option(value=preset.name)= preset.userText()
        .form-group
          label Config
          select.form-control(name='config')
            each config in configs
              option(value=config.id)= config.name
        button.btn.btn-primary.checker-submit(type='submit') Submit
