extends layout

include mixins

block content
  .container.content
    .page-header
      h1
        | Submission by
        = ' '
        = submission.user.name()

    if user && user.admin && submission.error && submission.error.stack
      pre= submission.error.stack

    if submission.isViewableBy(user) || contest.isEnded()
      p
        pre= code

    h2 Battle History

    .table-responsive
      table.table
        thead
          tr
            th Opponent
            th Result
            th Date
        tbody
          each battle in battles
            tr
              td
                if battle.isPreset
                  | Preset
                else
                  = battle.getOpponents(submission)[0].userText()
              td
                if battle.result === 'pending'
                  | Pending
                else if battle.result === 'draw'
                  | Draw
                else if battle.result === 'settled'
                  if battle.getWinner()._id.equals(submission._id)
                    | Win
                  else
                    | Lose
              td
                a(href=`/contests/${contest.id}/battles/${battle._id}`)= battle.timeText()
                
