extends layout

include mixins

block content
  .container.content
    if (turn.getSubmission().user && turn.getSubmission().user._id.equals(user) )|| contest.isEnded()
      p
        pre= turn.getSubmission().code

    h4 duration
    p
      = turn.duration
      = ' '
      | ms

    h4 stdin
    p
      pre= turn.input

    h4 stdout
    p
      pre= turn.stdout

    if (turn.getSubmission().user && turn.getSubmission().user._id.equals(user) )|| contest.isEnded()
      h4 stderr
      p
        pre= turn.stderr
